		<div class="col-xs-6 col-md-3">
  		<div class="span4">
      	<div class="well slavecircle">Slave: <%= slaves_list[i] %>
      	<div class="slavebox-status">
      		<div class="slavebox-disconnected" id="slavebox-status_id"></div>
      	</div>
    		<div class="slavebox-play-button">
    			<div class="slavebox-play" id="slavebox-play-button_id"></div>
    		</div>
    		<div class="slavebox-stop-button" id="slavebox-play-button_id">
    			<div class="slavebox-stop-inactive" id="slavebox-stop-button_id"></div>
    		</div>
      	</div>
   		</div>
		</div>
