<!-- Lets talk about geddy -->
<div class="geddy-welcome-box">
  <h1>Welcome to Node Daddy administrator console !</h1>
  <p>To fireup the grid, start with the master and then slaves</p>
  <p><%- linkTo('Start master»', '/engine/launch', {class: 'btn btn-primary btn-large'}) %></p>
</div>
<div class="row">
	<% for(var i=0; i<slaves_list.length; i++) {%>
    <% %>
	<% } %>
	
</div>

