<!-- Lets talk about geddy -->
<div class="geddy-welcome-box">
  <h1>Hello, World!</h1>
  <p>You've created a Geddy app and your server is running. If you already know what you're doing, feel free to jump into your app logic, if not...</p>
  <p><%- linkTo('Lets get you started »', 'http://geddyjs.org/tutorial.html', {class: 'btn btn-primary btn-large'}) %></p>
</div>
<div class="row">
	<% for(var i=0; i<slaves_list.length; i++) {%>
		<div class="col-xs-6 col-md-3">
  		<div class="span4">
      	<div class="well slavebox">Slave: <%= slaves_list[i] %>
      	<div class="slavebox-status">
      		<div class="slavebox-disconnected" id="slavebox-status_id"></div>
      	</div>
    		<div class="slavebox-play-button">
    			<div class="slavebox-play" id="slavebox-play-button_id"></div>
    		</div>
    		<div class="slavebox-stop-button" id="slavebox-play-button_id">
    			<div class="slavebox-stop-inactive" id="slavebox-stop-button_id"></div>
    		</div>
      	</div>
   		</div>
		</div>
	<% } %>
	
</div>

